* {
  margin: 0px;
}

.main-container {
  width: 60%;
  border: 5px solid black;
  margin: auto;
}

body {
  background-color: hsla(50, 33%, 25%, 0.75);
  font-family: "Lucida Console", "Courier New", monospace;
}

#spicy-chicken-fry-body {
  background-color: bisque;
}

#lasagne-body {
  background-color: #f7cac9;
}

#tomato-soup-body {
  background-color: steelblue;
}

.recipe-name,
.main-page-header {
  background-color: brown;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid black;
}

.recipe-image,
.main-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 60%;
  margin-bottom: 20px;
}

.recipe-item {
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
  flex: 1 1 0%;
}

li {
  text-align: center;
  width: 200px;
  padding-bottom: 30px;
}

p {
  text-align: justify;
}

.recepi-ingredients {
  margin: 50px 100px;
}

.main-page-link {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
}
