* {
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 177, 177);
  padding: 10px;
  margin-bottom: 50px;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.footer {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(177, 177, 177);
}

.recipes-items {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

h1 {
  margin: 0px;
}

.recipe-image {
  margin: auto;
}

.recipe-image > img {
  width: 600px;
  height: 400px;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
  padding: 0 80px;
}

.content,
.recepi-ingredients {
  flex: 1;
}

.recepi-ingredients > ul {
  list-style: none;
}

.main-page-link {
  display: flex;
  justify-content: center;
}
